---
import Button from "../components/Button.astro";
---

<div class="container">
  <header>
    <figure>
      <img src="/public/Logos/LogoA.svg" alt="Logo Rick" />
    </figure>
    <Button
      variant="primary"
      icon="/public/icons/Heart.svg"
      string="Lista de favoritos"
    />
  </header>
</div>

<style>
  header {
    max-width: 124rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6.4rem auto 0;
  }

  figure {
    margin: 0;
  }
</style>
